xterm*termName: xterm-256color

! Set DPI for HiDPI screen
Xft.dpi: 108

! text autohinting
Xft.autohint: 0

! one of: lcddefault, lcdlight, lcdlegacy, lcdnone
Xft.lcdfilter: lcddefault

! text hinting style, one of: hintnone, hintslight, hintmedium, hintfull
Xft.hintstyle: hintfull

! text hinting
Xft.hinting: 1

! text antialiasing
Xft.antialias: 1

! text subpixel rendering, one of: none, rgb, bgr, vrgb, vbgr
Xft.rgba: rgb

! xterm copy/paste keybindings
xterm.vt100.translations: #override \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

! xterm font
xterm*faceName: Hack
xterm*faceSize: 8.5
xterm*faceSize6: 24
xterm*boldFont: Hack-bold
xterm*boldColors: false

! xterm make alt normal
xterm*metaSendsEscape: true

! special
*.foreground:   #eeeeee
*.background:   #000000
*.cursorColor:  #eeeeee
